/* Webkit scrollbar styling for Custom theme */
.x-scroller::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}

.x-scroller::-webkit-scrollbar-track {
    background: $custom-scroller-background !important;
    border-radius: 5px;
}

.x-scroller::-webkit-scrollbar-thumb {
    background: $custom-scroller-thumb-color !important;
    border-radius: 5px;
}

.x-scroller::-webkit-scrollbar-thumb:hover {
    background: $custom-scroller-thumb-color !important;
}

.x-scroller::-webkit-scrollbar-corner {
    background: $custom-scroller-background !important;
}

.x-grid-cell-inner {
    padding: 6px;
}

.dataview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.card {
    background-color: $card-background;
    border: 1px solid $custom-background-color;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
    padding: 20px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: $text-color;
    text-align: center;
}

.card-content {
    font-size: 14px;
    color: $text-color;
    line-height: 1.6;
}

.navigation-Friends .x-menu-header .x-title-icon-wrap,
.navigation-email .x-menu-header .x-title-icon-wrap {
    color: $custom-navigation-text-color;
}

:root {
    --theme-color: #4b9288;
    --bg-color: rgba(79, 48, 183, 0.06);
    --comp-color: #555555;
    --gradient: linear-gradient(#4b9288 0%, #457f89 100%);
}

.testimonials{
    .x-panel-body-default {
        color: black;
    }
}
.text-white, .read{
    color: black !important;
}