$darktheme-base-color: #121212;
$darktheme-font-color:#DDDDDD;
$darktheme-border-color: #3e3737;
$darktheme-secondary-color:#555555;
$darktheme-secondary-base-color:#1a1a1a;
$darktheme-scrollbar-base-color:#444444;
$darktheme-scrollbar-thumb-color:#444444;
$darktheme-card-title-color:#ddd;
$darktheme-dark-color:#1f1f1f;