.x-body{
    background-color: $darktheme-base-color !important;
    color: $darktheme-font-color;
}

.profile-dataview .x-dataview-item {
    border-style: solid;
    border-width: 1px 0 0;
    border-color: $darktheme-border-color !important;
}

.testimonial-panel {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-style: solid;
    border-width: 1px;
    border-color: $darktheme-border-color !important;
    padding: 15px; 
    margin: 10px 0; 
}

.testimonial-panel:hover {
    box-shadow: 0px 4px 15px  $darktheme-secondary-color; /* Add a shadow on hover */
}
.x-toolbar-footer {
    background-color: $darktheme-base-color ;
}
.x-column-header-over, .x-column-header-trigger{
    background-color: $darktheme-secondary-color;
    color: $darktheme-font-color;
}

/* Webkit scrollbar styling for dark theme */
.x-scroller::-webkit-scrollbar {
    width: 8px !important;   
    height: 8px !important;  
}

.x-scroller::-webkit-scrollbar-track {
    background: $darktheme-secondary-base-color !important; 
    border-radius: 5px;
}

.x-scroller::-webkit-scrollbar-thumb {
    background: $darktheme-scrollbar-base-color !important; 
    border-radius: 5px;
}

.x-scroller::-webkit-scrollbar-thumb:hover {
    background: $darktheme-scrollbar-thumb-color !important; 
}

.x-scroller::-webkit-scrollbar-corner {
    background: $darktheme-secondary-base-color !important;
}

.x-menu-body-default {
    background: $darktheme-dark-color;
    padding: 8px 0;
    height: 42vh;
}

.card {
    background-color: $darktheme-base-color !important;
    color:$darktheme-font-color !important;
}


.card {
    border-style: solid;
    border-width: 1px 0 0;
    border-color: $darktheme-border-color !important;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
    padding: 20px;
    transition: transform 0.2s;
}

.card-content {
    font-size: 14px;
    line-height: 1.6;
}
    .dataview-container {
    display: flex;
    padding: 10px;
}

.card {
    border: 1px solid $darktheme-font-color;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    transition: transform 0.2s;
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: $darktheme-card-title-color;
    text-align: center;
}

.card-content {
    font-size: 14px;
    color: $darktheme-card-title-color;
    line-height: 1.6;
}

.x-tab-bar-default {
    background-color: $darktheme-base-color;
}

.x-tab.x-tab-active.x-tab-default {
    border-radius: 0px;
}
.navigation-Friends .x-menu-header, .navigation-email .x-menu-header{
    background-color: $darktheme-dark-color;
}

:root {
    --theme-color: #555555;
    --bg-color: rgba(79, 48, 183, 0.06);
    --comp-color: #555555;
    --gradient: linear-gradient(#555555 0%, #555555 100%);
}

.testimonials{
    .x-panel-body-default {
        color:  $darktheme-font-color;
    }
}
.text-white, .read{
    color:  $darktheme-font-color !important;
}

.review-box {
    border-radius: 3px;
    background: $darktheme-base-color !important;
    box-shadow: 0px 3px 20px #555555 !important;
    padding: 30px;
    border-bottom: 1px solid #555555 !important;
}