$ui-mainPanel-panel-header-background-color: dynamic($panel-header-background-color);
$ui-mainPanel-panel-header-background-gradient: dynamic($panel-header-background-gradient);
$ui-mainPanel-panel-header-border-style: dynamic($panel-header-border-style);
$ui-mainPanel-panel-header-glyph-color: dynamic($panel-header-glyph-color);
$ui-mainPanel-panel-header-icon-width: dynamic($panel-header-icon-width);
$ui-mainPanel-panel-header-icon-height: dynamic($panel-header-icon-height);
$ui-mainPanel-panel-header-icon-spacing: dynamic($panel-header-icon-spacing);
$ui-mainPanel-panel-header-inner-border-color: dynamic($panel-header-inner-border-color);
$ui-mainPanel-panel-header-inner-border-width: dynamic($panel-header-inner-border-width);
$ui-mainPanel-panel-header-padding: dynamic($panel-header-padding);
$ui-mainPanel-panel-header-line-height: dynamic($panel-header-line-height);
$ui-mainPanel-panel-header-color: dynamic($panel-header-color);
$ui-mainPanel-panel-header-font-family: dynamic($panel-header-font-family);
$ui-mainPanel-panel-header-font-size: dynamic($panel-header-font-size);
$ui-mainPanel-panel-header-font-weight: dynamic($panel-header-font-weight);
$ui-mainPanel-panel-header-text-padding: dynamic($panel-header-text-padding);
$ui-mainPanel-panel-body-background-color: dynamic($panel-body-background-color);
$ui-mainPanel-panel-body-border-style: dynamic($panel-body-border-style);
$ui-mainPanel-panel-body-color: dynamic($panel-body-color);
$ui-mainPanel-panel-body-font-family: dynamic($panel-body-font-family);
$ui-mainPanel-panel-body-font-size: dynamic($panel-body-font-size);
$ui-mainPanel-panel-body-font-weight: dynamic($panel-body-font-weight);
$ui-mainPanel-tool-glyph-color: dynamic($tool-glyph-color);
$ui-mainPanel-panel-tool-spacing: dynamic($panel-tool-spacing);
$text-color: #636d74;